@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Rubik:wght@500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles/globals.css */

* {
    /* border: 1px solid rgba(100, 0, 0, 0.2); */
}

body {
    font-family: 'Montserrat', sans-serif;
    
}

.scrollbar-light::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

.scrollbar-light::-webkit-scrollbar-thumb {
    @apply bg-gray-400;
    border-radius: 50px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-500;
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .blinking {
    animation: blink 1s infinite; /* Apply the animation to the element */
  }
  