@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Rubik:wght@500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles/globals.css */

* {
    /* border: 1px solid rgba(100, 0, 0, 0.2); */
}

body {
    font-family: 'Montserrat', sans-serif;
    
}

.scrollbar-light::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}


::-webkit-scrollbar-track {
  background: #f1f1f1;
}


/* Handle */

.scrollbar-light::-webkit-scrollbar-thumb {
  @apply bg-gray-400;
  border-radius: 50px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-500;
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* Firefox */

input[type=number] {
  -moz-appearance: textfield;
}

/* custom radio button styling */

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  border: 2px solid #000;
  @apply border-2 outline border-white outline-gray-400 rounded-full w-5 h-5;
}

input[type="radio"]:checked {
  @apply bg-theme-blue transition-all duration-300 outline-theme-blue;
}

/* checkbox */
input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  @apply border-2 outline border-white outline-gray-400 rounded-md w-5 h-5;
}

input[type="checkbox"]:checked {
  @apply bg-theme-blue relative transition-all duration-300 outline-theme-blue;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.blinking {
  animation: blink 1s infinite;
  /* Apply the animation to the element */
}

@layer components {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}